<!-- PAGE CONTENT -->

		<!-- Portrait View Start -->
		<div class="port_wrap">

				<div class="spotify_wrap">
					 <img class="spotify_logo" src="graphics/spotify.svg" alt="Spotify Icon">
					 <h3>connect to Spotify</h3>
				</div>

				<div class="container">
				    <div class="login-container hidden" id="js-login-container">
				      <button class="btn btn--login" id="js-btn-login">connect</button>
				    </div>
				    <div class="main-container hidden" id="js-main-container"></div>
				</div>

				<div class="bottom_bar_cancel_wrap" onclick="jmp2LocalPage('')">
					<svg class="bottom_cancel" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 375 97.88">
					    <linearGradient id="linear-gradient" x1="-451.01" y1="556.78" x2="-449.83" y2="556.78" gradientTransform="matrix(375, 0, 0, -97.88, 169048, 54545.9)" gradientUnits="userSpaceOnUse">
					      <stop offset="0" stop-color="#2dd5cc"/>
					      <stop offset="1" stop-color="#fe5893"/>
					    </linearGradient>
					    <linearGradient id="linear-gradient-2" y1="26.55" x2="374.86" y2="26.55" gradientUnits="userSpaceOnUse">
					      <stop offset="0" stop-color="#92e6e5"/>
					      <stop offset="1" stop-color="#f8a9ca"/>
					    </linearGradient>
					    <g id="BOTTOMbutton">
					      <g id="Group">
					        <path id="Path-3-Copy-2" class="cls-1" d="M0,.51C62.85,12.84,74.79,13.29,143.12,10.89,218.71,4.17,277.58-6.48,375,6V98L0,98.1Z" transform="translate(0 -0.22)"/>
					      </g>
					      <path id="Path_337" data-name="Path 337" class="cls-2" d="M0,.49l0,50s20.24,5.27,70,0,61.19-12.37,130-27.06c34-7.86,71.62-18.79,118.46-17s56.43,10.27,56.43,10.27V5.89S334.53.51,301,.35c-15.23-.07-58.25-1.5-144,9.4a678,678,0,0,1-91.71,1.08C29.09,6.76,0,.49,0,.49Z" transform="translate(0 -0.22)"/>
					   </g>
					</svg>
                    <a href="#/settings"><h3>Cancel</h3></a>
				</div>

		</div>

		<!-- Portrait View End  -->

		<div class="land_wrap">
			
					<div class="land-text_wrap">
						<div class="stripe"><h3>Please turn your device to portrait mode</h3></div>
					</div>
			
					<div class="left_phone_wrap">
						<svg class="left_phone" id="Layer_6" xmlns="http://www.w3.org/2000/svg" width="200" height="110" viewBox="0 0 370 240">
							<path id="phone_one" class="cls-one" d="M215,33v86a12,12,0,0,1-12,12H27a12,12,0,0,1-12-12s2-12,2-43-2-43-2-43A12,12,0,0,1,27,21H203A12,12,0,0,1,215,33Z" transform="translate(-15 -21)"/>
							<circle class="cls-two" cx="180" cy="55" r="8"/>
						</svg>
					</div>
			
			</div>

			<!-- OAUTH -->
  <script>
			(function() {

				var stateKey = 'spotify_auth_state';

				/**
				 * Obtains parameters from the hash of the URL
				 * @return Object
				 */
				function getHashParams() {
					var hashParams = {};
					var e, r = /([^&;=]+)=?([^&;]*)/g,
							q = window.location.hash.substring(1);
					while ( e = r.exec(q)) {
						 hashParams[e[1]] = decodeURIComponent(e[2]);
					}
					return hashParams;
				}

				/**
				 * Generates a random string containing numbers and letters
				 * @param  {number} length The length of the string
				 * @return {string} The generated string
				 */
				function generateRandomString(length) {
					var text = '';
					var possible = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';

					for (var i = 0; i < length; i++) {
						text += possible.charAt(Math.floor(Math.random() * possible.length));
					}
					return text;
				};

				var trackname;
				var trackartist;
				var trackhref;
				var trackimage;
				var userPinSong;

			//   var userProfileSource = document.getElementById('user-profile-template').innerHTML,
			//       userProfileTemplate = Handlebars.compile(userProfileSource),
			//       userProfilePlaceholder = document.getElementById('user-profile');

			//       oauthSource = document.getElementById('oauth-template').innerHTML,
			//       oauthTemplate = Handlebars.compile(oauthSource),
			//       oauthPlaceholder = document.getElementById('oauth');

				var params = getHashParams();

				var access_token = params.access_token,
						state = params.state,
						storedState = localStorage.getItem(stateKey);

				if (access_token && (state == null || state !== storedState)) {
					alert('There was an error during the authentication');
				} else {
					localStorage.removeItem(stateKey);
					if (access_token) {

						//DEFINE THE ELEMENTS
						var que = document.getElementById('query');

						//LISTENERS
						//listen for input in form
						que.addEventListener('input', function (e) {
							console.log(this.value);
						}, false);
						//listen for sumbit, send value to searchAlbums
						document.getElementById('search-form').addEventListener('submit', function (e) {
						e.preventDefault();
						searchAlbums(que.value);
						}, false);


						//pulls authorized account information
						$.ajax({
								url: 'https://api.spotify.com/v1/me',
								headers: {
									'Authorization': 'Bearer ' + access_token
								},
								success: function(response) {
									userProfilePlaceholder.innerHTML = userProfileTemplate(response);
									console.log('aeye got that token');

									$('#login').hide();
									$('#loggedin').show();
								}
						});

						//search request
						var searchAlbums = function (query) {
						$.ajax({
								url: 'https://api.spotify.com/v1/search',
								headers: {
									'Authorization': 'Bearer ' + access_token  
								},
								data: {
										q: query,
										offset: 0,
										limit: 3,
										type: 'track'
								},
								success: function (response) {
									console.log(response);
									$('#results').html("");
									var json = response;
									
									for (var i=0; i<3; i++) {
									console.log(i);
									if (json.tracks.items[i]){
									trackname = json.tracks.items[i].name;
									trackartist = json.tracks.items[i].artists[0].name;
									trackhref = json.tracks.items[i].href;
									trackimage = json.tracks.items[i].album.images[2].url;
									divid = '<div id="r' + i;

									$('#results').append(divid + '" class="track"><li>'+ trackname + '</li><li>' + trackartist + '</li><li class="url">' + trackhref +'</li><img src='+ trackimage +'> <input type="submit" id="p'+ i + '" class="pinSong" class="btn btn-primary" value="Pin"> </div>');
									}
								} 
								$(".pinSong").click(function(i){
										userPinSong = $(this).siblings('.url').contents().get(0).nodeValue;
										console.log(userPinSong);
										console.log($(this).siblings('.url').contents().get(0).nodeValue);
										// console.log($(this).closest('li[class]'));
										// console.log(i);
										console.log('pinned song');
										// $("#yourPinSong").html(userPinSong);
										
										$.ajax({
										url: userPinSong,
										headers: {
											'Authorization': 'Bearer ' + access_token
											},
										success: function(response) {
										console.log(response);
										var yourSongImage = response.album.images[0].url;
										var yourSongName = response.name;
										var yourSongArtist = response.artists[0].name;
										var resulted = "<img src='" + yourSongImage + "' width='150' height='150'>";
										var resulted2 = "<li>" + yourSongName + "</li><li>" + yourSongArtist + "</li>";
										console.log(resulted);
										$("#yourPinSongImage").html(resulted);
										$("#yourPinSongInfo").html(resulted2);
										}});
									});

								}
						});
						console.log('hello');
						console.log(query);
				};
						
					} else {
							$('#login').show();
							$('#loggedin').hide();
					}

					
					document.getElementById('js-btn-login').addEventListener('click', function() {

						var client_id = 'f77925f0471243af97142794fd2efe1d'; // Your client id
						var redirect_uri = 'https://mighty-cliffs-48938.herokuapp.com/'; // Your redirect uri

						var state = generateRandomString(16);

						localStorage.setItem(stateKey, state);
						var scope = 'user-read-private user-read-email';

						var url = 'https://accounts.spotify.com/authorize';
						url += '?response_type=token';
						url += '&client_id=' + encodeURIComponent(client_id);
						url += '&scope=' + encodeURIComponent(scope);
						url += '&redirect_uri=' + encodeURIComponent(redirect_uri);
						url += '&state=' + encodeURIComponent(state);

						window.location = url;
					}, false);
				}
			})();
		</script>